/******* table of contents *******
imports
global setup
form "new entry" elements
form "new entry" element
**********************************/

/**********************************
imports
**********************************/
@import '../general/color';
@import '../general/fonts';

/**********************************
global setup
**********************************/

/**********************************
form "new entry" elements
**********************************/
.form-new-entry {
  .form-new-entry__elements {
    margin: 1.5rem;
  }

  &.form-new-entry--hidden .form-new-entry__elements {
    display: none;
  }
}

/**********************************
form "new entry" element
**********************************/
.form-new-entry {
  .ww-button,
  .form-new-entry__element,
  .form-new-entry__element input {
    @include noto-sans-jp(300, 1.5rem, false);
  }

  .form-new-entry__element,
  .form-new-entry__element input,
  .form-new-entry__element input::placeholder {
    color: $light-grey;
    margin: 0 0 1rem;
    position: relative;
  }

  .form-new-entry__element > input:not(#ww_open-at-startup) ~ label {
    cursor: text;
    position: absolute;
    transition: top 175ms, padding-left 175ms, font-size 175ms;
  }

  .form-new-entry__element > input:not(:placeholder-shown):not(#ww_open-at-startup) ~ label,
  .form-new-entry__element > input:focus:not(#ww_open-at-startup) ~ label {
    @include noto-sans-jp(300, 1rem, false);
    top: -0.5rem;
  }

  .form-new-entry__element > input:not(:focus):not(#ww_open-at-startup):placeholder-shown ~ label {
    padding-left: 0.5rem;
    top: 0;
  }

  .form-new-entry__element > input:not(:placeholder-shown),
  .form-new-entry__element > input:focus {
    outline: none;
  }

  .form-new-entry__element > input {
    border-bottom: 0.1rem solid $light-grey;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  .form-new-entry__element #ww_url,
  .form-new-entry__element #ww_title {
    width: 100%;
  }

  .form-new-entry__element #ww_open-at-startup {
    height: 1.5rem;
    margin: 0 0.5rem 0 0;
    vertical-align: bottom;
    width: 1.5rem;
  }

  .form-new-entry__element .ww-img {
    border: 0.1rem solid $light-grey;
    box-sizing: border-box;
    cursor: pointer;
    height: 10rem;
    width: 100%;
  }

  .form-new-entry__element .ww-img__element {
    height: 100%;
    width: auto;
  }

  .form-new-entry__element .ww-img__placeholder {
    display: block;
    padding: 0.5rem;
  }

  .form-new-entry__element .ww-external-urls__head {
    border-bottom: 0.1rem solid $light-grey;
    cursor: default;
    display: block;
    padding-left: 0.5rem;
    width: 100%;
  }

  .form-new-entry__element .ww-external-urls__entry {
    padding-left: 2rem;
  }

  .form-new-entry__element .ww-external-urls__button-new-entry {
    height: auto;
    padding-left: 1.5rem;
    width: 2.5rem;
  }

  .form-new-entry__elements .ww-button {
    background-color: lighten($light-grey, 10%);
    border: 0 solid $black;
    color: darken($light-grey, 10%);
    display: block;
    padding: 0.25rem 0.75rem;
  }

  .form-new-entry__elements .ww-button:hover {
    box-shadow: 1px 2px 7px rgb(0 0 0 / 0.3);
  }

  .form-new-entry__elements .ww-button:focus {
    outline: none;
  }

  .form-new-entry__elements .ww-external-urls__entry--delete-entry {
    cursor: pointer;
    display: inline-block;
    padding-right: 0.5rem;
    vertical-align: bottom;
    width: 3rem;
  }

  .form-new-entry__elements .ww-external-urls__entry--delete-entry:hover {
    filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.4));
  }

  .ww-external-urls__entry > input {
    border: 0 solid $light-grey;
    margin: 0;
    outline: none;
  }
}
