/******* table of contents *******
imports
global setup
form "new entry"
**********************************/

/**********************************
imports
**********************************/
@import '../general/color';
@import '../general/fonts';

/**********************************
global setup
**********************************/

/**********************************
form "new entry"
**********************************/
.form-new-entry {
  /** head **/
  > .form-new-entry__toggle {
    border-bottom: 0.1rem solid $black;
    cursor: pointer;
  }

  > .form-new-entry__toggle > span {
    pointer-events: none;
    transform: rotateZ(90deg);
  }

  > .form-new-entry__toggle > img {
    height: 2rem;
    width: auto;
  }

  &:not(.form-new-entry--hidden) > .form-new-entry__toggle > img {
    transform: rotateZ(90deg);
  }

  &.form-new-entry--hidden > .form-new-entry__toggle > img {
    transform: rotateZ(-90deg);
  }

  /** elements **/
  .form-new-entry__elements {
    margin: 1.5rem;
  }

  &.form-new-entry--hidden .form-new-entry__elements {
    display: none;
  }

  .form-new-entry__elements #ww_url,
  .form-new-entry__elements #ww_title {
    width: 100%;
  }

  .form-new-entry__elements .ww-img {
    border: 0.1rem dashed $black;
    cursor: pointer;
    height: 10rem;
    width: 100%;
  }

  .form-new-entry__elements .ww-button {
    display: block;
  }
}
