/******* table of contents *******
imports
global setup
TBD
**********************************/

/**********************************
imports
**********************************/
@import '../general/color';
@import '../general/fonts';

/**********************************
global setup
**********************************/

/**********************************
list element
**********************************/
#website-entries {
  /** element **/
  .website-entries__element {
    border-bottom: 1px solid $black;
    cursor: default;
    margin: 1rem;
    padding: 0.5rem;
    position: relative;
  }

  &.website-entries--hidden .website-entries__element {
    display: none;
  }

  .website-entries__element > .element__title {
    display: flex;
    margin: 0;
  }

  .website-entries__element > .element__title--text {
    margin: auto 0;
    padding-right: 0.5rem;
  }

  .website-entries__element .element__icon {
    max-height: 2.5rem;
  }

  .website-entries__element .element__delete {
    @include roboto(300, 1rem, false, italic);
    border: 0.15rem solid $primary--dark;
    border-radius: 0.4rem;
    color: $primary--dark;
    cursor: pointer;
    padding: 0.2rem;
    transform: translateY(-50%);
  }

  .website-entries__element .element__delete:hover {
    background-color: darken($primary, 5);
  }
}
