/******* table of contents *******
global setup
header
form & website entries
**********************************/

/**********************************
global setup
**********************************/

/**********************************
header
**********************************/
header {
    font-weight: bold;
    font-size: 2rem;
    background-color: #00BFFFFF;
    margin: -8px -8px 16px -8px;
    padding: 8px;
    display: flex;
    position: relative;
}

header #clearData {
    color: #0075a0;
    font-weight: normal;
    font-size: 1rem;
    font-style: italic;
    position: absolute;
    right: 0.5rem;
    top: auto;
    cursor: pointer;
    border: 0.2rem solid #00aee7;
    border-radius: 0.4rem;
    padding: 0.2rem;
}

header #clearData:hover {
    background-color: #009ed2;
}

/**********************************
form & website entries
**********************************/
#form-new-entry > .form-new-entry__toggle > img,
#website-entries > .website-entries__toggle > img {
    width: auto;
    height: 2rem;
}

#form-new-entry:not(.form-new-entry--hidden) > .form-new-entry__toggle > img,
#website-entries:not(.website-entries--hidden) > .website-entries__toggle > img {
    transform: rotateZ(90deg);
}

#form-new-entry.form-new-entry--hidden > .form-new-entry__toggle > img,
#website-entries.website-entries--hidden > .website-entries__toggle > img {
    transform: rotateZ(-90deg);
}

#form-new-entry.form-new-entry--hidden .form-new-entry__elements,
#website-entries.website-entries--hidden .website-entries__element {
    display: none;
}

#form-new-entry > .form-new-entry__toggle > span,
#website-entries > .website-entries__toggle > span {
    pointer-events: none;
    transform: rotateZ(90deg);
}

#form-new-entry > .form-new-entry__toggle,
#website-entries > .website-entries__toggle {
    border-bottom: 0.1rem solid black;
    cursor: pointer;
}

.form-new-entry__elements #ww_url,
.form-new-entry__elements #ww_title {
    width: 100%;
}

.form-new-entry__elements {
    margin: 1.5rem;
}

.website-entries__element {
    border: 0.1rem solid black;
    pointer-events: none;
    padding: 0.5rem;
    margin: 1rem;
}

.website-entries__element .element_icon {
    max-height: 2.5rem;
}

.website-entries__element > .element_title {
    margin: 0;
    display: flex;
}

.website-entries__element > .element_title > span {
    margin: auto 0;
    padding-right: 0.5rem;
}

#ww_img {
    width: 100%;
    height: 10rem;
    border: 0.1rem dashed black;
    cursor: pointer;
}

#ww_button {
    display: block;
}
