/******* table of contents *******
theme colors
font colors
**********************************/

/**********************************
global setup
**********************************/

/**********************************
theme colors
**********************************/
$primary: #28a8ec;
$primary--dark: #1976d2;
$primary--additional: #406280;

$accent: #ffc107;
$accent--dark: #ffa000;

/**********************************
font colors
**********************************/
$text--black: #000;
$text--light-grey: #b2b2b2;
$text--white: #fff;
