/******* table of contents *******
imports
global setup
buttons
**********************************/

/**********************************
imports
**********************************/
@import './general/color';
@import './general/fonts';

/**********************************
global setup
**********************************/


/**********************************
buttons
**********************************/
.button#moveBack > img {
  height: auto;
  margin: -0.5rem;
  padding-right: 0.5rem;
  width: 2.5rem;

  &:hover {
    opacity: 0.6;
  }
}
