/******* table of contents *******
imports
global setup
header
buttons
**********************************/

/**********************************
imports
**********************************/
@import './general/color';
@import './general/fonts';

/**********************************
global setup
**********************************/

/**********************************
header
**********************************/
.header {
  @include roboto(900, 2rem, false);
  background-color: $primary;
  display: flex;
  margin: -8px -8px 16px;
  padding: 8px;
  position: relative;

  .button#clearData:hover {
    background-color: darken($primary, 5);
  }
}

/**********************************
buttons
**********************************/
.button#newEntry {
  background-color: $accent;
  border-radius: 50%;
  bottom: 1rem;
  display: block;
  height: 4rem;
  padding: 0.4rem;
  position: fixed;
  right: 1rem;
  width: 4rem;

  &:hover {
    box-shadow: 0 3px 9px rgb(0 0 0 / 0.3);
  }
}
