/******* table of contents *******
imports
global setup
header
buttons
**********************************/

/**********************************
imports
**********************************/
@import './general/color';
@import './general/fonts';

/**********************************
global setup
**********************************/

/**********************************
header
**********************************/
.header {
  @include roboto(900, 2rem, false);
  background-color: $primary;
  display: flex;
  margin: -8px -8px 16px;
  padding: 8px;
  position: relative;

  &:not(.button#clearData) {
    color: $text--black;
  }

  .button#clearData {
    @include roboto(300, 1rem, false, italic);
    border: 0.15rem solid $primary--dark;
    border-radius: 0.4rem;
    color: $primary--dark;
    cursor: pointer;
    padding: 0.2rem;
    position: absolute;
    right: 0.5rem;
    top: auto;
  }

  .button#clearData:hover {
    background-color: darken($primary, 5);
  }
}

/**********************************
buttons
**********************************/
.button#newEntry {
  background-color: $accent;
  border-radius: 50%;
  bottom: 1rem;
  display: block;
  height: 4rem;
  padding: 0.4rem;
  position: fixed;
  right: 1rem;
  width: 4rem;

  &:not(:hover) {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  > img {
    transform: rotateZ(45deg);
  }
}
